@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
border: 2px solid red;
}

body {
 font-family: 'Manrope',sans-serif;
 font-size: 13px;
 background-color: hsl(210, 46%, 95%);
 display: flex;
 justify-content: center;
 min-height: 100vh;
 flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /*makes <main> expand to fill leftover vertical space after the footer is placed*/
}

.container {
    max-width: 730px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.503415);
    display: flex;
    overflow: hidden;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
